<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <nav></nav>
    <section class=”container”>
    <h1>{{title}}</h1>
      <p>{{description}}</p>
      {{galleries.length}}

      <input type="text" name="searchValue" [(ngModel)]="searchValue"
             placeholder="Szukaj" >

      <p>Szukam: {{searchValue}} </p>


      <div class="gallery">

        <div class="row">
          <div class="grid-5 grid-centered" *ngFor="let item of galleries; trackBy:item?.galleryId | searchGalleries : searchValue
">
            <p>{{item.title}}
            </p>
           <div><img class="gallery-img-size" src="{{item.thumbUrl}}" alt=""></div>
            <p>{{item.dateCreated | polishDate}}</p>
            <p>{{item.description}}</p>


          <!--   <div class="grid-4"><img src="../assets/img/gallery/maroko.jpg" alt="ss"></div>-->

        </div>

      </div>
        <!-- </section>-->

        <!--  </div>-->
            </div>

