<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <app-nav></app-nav>
    <section class=”container”>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      {{galleries.length}}

      <input type="text" name="searchValue" [(ngModel)]="searchValue"
             placeholder="Szukaj">

      <p>Szukam: {{searchValue}} </p>

      <div>
        <ul>
          <li (click)="sort(e)" ><a>20156</a></li>
          <li>2013</li>
          <li>2012</li>
        </ul>

      </div>
      <div class="gallery">
        <app-galleries></app-galleries>
        <div class="row">
          <div class="grid-5 grid-centered" *ngFor="let item of galleries | searchGalleries : searchValue; trackBy:item?.galleryId
">
            <p>{{item.title}}
            </p>
            <div><img class="gallery-img-size" src="{{item.thumbUrl}}" alt=""></div>
            <p>{{item.dateCreated | polishDate}}</p>
            <p>{{item.description}}</p>


            <!--   <div class="grid-4"><img src="../assets/img/gallery/maroko.jpg" alt="ss"></div>-->

          </div>

        </div>
        <!-- </section>-->

        <!--  </div>-->
      </div>

    </section>